@use "../../styles" as *;
.personalityTest {
  .personalityTest__bannerDiv {
    background-image: url("../../assets/images/test.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #27316d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    h1 {
      font-size: 50px;
      color: white;
      margin-bottom: 30px;
    }
  }

  .personalityTest__bgAsh {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f7f9;
    padding: 40px;
    .personalityTest__bg {
      background-color: #1a83c2;
      color: white;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
      padding: 40px;
      width: 50%;
      ul {
        li {
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.056);
          padding: 10px 20px;
          background-color: white;
          color: black;
          border-radius: 5px;
          margin: 15px 0;
        }
        .answerChoosen {
          border: 1px solid pink;
          background-color: rgba(253, 208, 219, 0.826);
        }
      }
      .disable {
        pointer-events: none;
        cursor: no-drop;
        opacity: 0.6;
      }
    }
  }
  @include MaxWidth(768px) {
    .personalityTest__bannerDiv {
      height: 30vh;
      h1 {
        font-size: 30px;
      }
    }
    .personalityTest__bgAsh {
      padding: 10px;
      .personalityTest__bg {
        width: 90%;
      }
    }
  }
}
